table {
    width: 300px;
    height: 300px;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
}

tr, th, td {
    border: 1px solid #000;
}

.cNome {
    background-color: #808080;
}

.cSexo {
    background-color: #d1cfcf;
}

.cIdade {
    background-color: #808080;
}

.cProfissao {
    background-color:#d1cfcf;
}

